@model CollectionWebApp.ViewModels.AccountModel

@{
    ViewData["Title"] = "Account Page";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <br />

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-account-tab" data-bs-toggle="tab" data-bs-target="#nav-account" type="button" role="tab" aria-controls="nav-account" aria-selected="true">Account</button>
            <button class="nav-link" id="nav-collection-tab" data-bs-toggle="tab" data-bs-target="#nav-collection" type="button" role="tab" aria-controls="nav-collection" aria-selected="false">Collections</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-account" role="tabpanel" aria-labelledby="nav-account-tab">
            <div class="card text-center">
                <div class="card-header">
                    User profile
                </div>
                <div class="card-body">
                    <h5 class="card-title">Name: @Model.User.Name</h5>
                    <p>Email: @Model.User.Email</p>
                    <p>Role: @Model.User.Role.Name</p>
                    @if (Model.ChangeAllowed)
                    {
                        <p>Password: @Model.User.Password</p>
                    }
                </div>
                <div class="card-footer text-muted">
                    Created: @Model.User.Created
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-collection" role="tabpanel" aria-labelledby="nav-collection-tab">
            Collections tab
        </div>
    </div>

</div>